@font-face {
    font-family: "Norse";
    src: url("Norsebold.otf") format("opentype");
}

body {
    height: 100vh;
    margin: 0px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    height: 100%;
    flex: 2;
    background-image: url("images/plant.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;

    span {
        text-decoration: underline;
    }
}

.logo {
    font-family: "Norse";
    background-color: #00000075;
    height: 15em;
    width: 100%;
    margin-top: 15em;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.odin-img {
    height: 75%;
}

.odin-text {
    font-size: 10em;
}


.right {
    flex: 3;
    font-family: "DM Sans", sans-serif;
    height: 100%;
    background-color: #F9F9F9;
    
    display: flex;
    align-items: center;

    p {
        font-weight: 700;
        font-size: 2em;
        width: clamp(45ch, 50%, 75ch);
    }
}

p + p {
    margin-top: 1em;
}

form {
    font-weight: 500;
    width: 100%;
    p {
        margin-bottom: 0;
        width: 100%;
        padding: 0.5em 3rem;
    }
}

.description {
    padding-left: 3em;
}

.inputs {
    position: relative;
    padding: 1em 3em 2em 3em;
    background: white;
    display: flex;
    gap: 5em;
    
    font-size: 1em;

    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

input {
  width: 35ch;
  height: 4ch;
  margin-bottom: 1em;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1.5ch;
}
label {
    display: block;
}

button {
    background-color: #596D48;
    color: white;

    font-size: 1.75ch;
    font-weight: 700;

    padding: 1em 3em;
    border-radius: 5px;
    border: none;
    margin-left: 3rem;
    margin-top: 2.5rem;
}

input:invalid {
    border: red solid 1px;
}

input:valid {
    border: green solid 1px;
}

form > p:last-child {
    font-size: 1.75ch;
    font-weight: 600;
    span {
        color: #596D48;
    }
}